
body{font-family:Arial;background:#f3f0ff;margin:0;padding:40px;color:#10163d}
.container{max-width:1200px;margin:auto;background:white;padding:30px;border-radius:25px}
.predictor{display:grid;grid-template-columns:2fr 1fr;gap:25px}
.form{display:grid;grid-template-columns:1fr 1fr;gap:12px}
label{font-weight:bold}
input,select{padding:14px;border-radius:12px;border:2px solid #d6dcef}
button{grid-column:1/-1;padding:18px;background:#131f87;color:white;border:none;border-radius:16px;font-size:22px;font-weight:bold}
.result{background:#131f87;color:white;padding:25px;border-radius:25px}
.bar{height:18px;background:#5c69c9;border-radius:20px}
#fill{height:100%;width:75%;background:white;border-radius:20px}
.card{margin-top:25px;padding:20px;background:#fafbff;border-radius:20px}
